// 變數 //
$main-text: #222222;
$second-gray: #818181;
$light-gray: #f6f6f6;
$main-color: #45B7C4;

$main-gutter: 20px;
$large-gutter: 46px;

$normal-space: 24px;
$small-space: 16px;
$xs-space: 8px;

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content
    }
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content
    }
}

@mixin marginOut($margin-number) {
    margin-left: -$margin-number;
    margin-right: -$margin-number; 
}

@mixin border-style($border-direction) {
    border-#{$border-direction}: 1px solid rgba(0, 0, 0, 0.16);
}

body {
    background-color: $light-gray;
    font-size: 0.875rem;
    color: $main-text;
    // background-color: #999;
}


a {
    text-decoration: none;
    color: $main-text;
    &:hover {
        color: $main-color !important;
    }

    &.link-border-bottom {
        border-bottom: 2px solid $main-color;
        display: inline-block;
    }
}

img {
    max-width: 100%;
    &:hover {
        opacity: 0.7;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

::selection {
    color: white;
    background-color: $main-color;
}

.container {
    max-width: 1024px;
    margin-left: $main-gutter;
    margin-right: $main-gutter;
    @include tablet {
        margin-left: 100px;
        margin-right: 100px;
    }
    @include desktop {
        position: relative;
        margin: 0 auto;
    }
}

.d-flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.gutter-item {
    margin-left: $main-gutter;
    margin-right: $main-gutter;
}

.btn {
    //按鈕基礎
    -webkit-appearance: none;
    align-items: center;
    box-shadow: none;
    display: inline-flex;
    justify-content: flex-start;
    position: relative;
    vertical-align: top;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding: 12px 45px;
    text-align: center;
    white-space: nowrap;
    user-select: none;

}

.btn-primary {
    background-color: $main-color;
    color: #fff;
    padding: 10px 24px;
    border: 0;
    border-radius: 100px;
}

.columns {
    margin-left: -$main-gutter;
    margin-right: -$main-gutter;
    @include desktop {
        display: flex;
    }
}

.col {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: $main-gutter;
    @include desktop {
    }
}

.nav-left-item {
    display: flex;
    margin-right: auto;
}

.fixed-top-margin {
    margin-top: 82px;
}

.light-text {
    color: $second-gray;
}

.serif-font {
    font-family: "Noto Serif TC",serif;
}

