header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 82px;
    transition: ease-in-out 0.5s all;

    .container {
        margin-left: $large-gutter;
        margin-right: $large-gutter;
    }

    .fuction-list,
    .form-search,
    .main-nav {
        visibility: hidden;
        display: none;
        transition: ease-in-out 0.3s all;
        transform: translateY(-100vh);

    }

    .modal-menu {
        visibility: hidden;
    }

    .main-logo,
    .top-main-list {
        opacity: 100;
        transition: ease-in-out 0.3s all;
    }


    &.is-open {
        background-color: $light-gray;
        height: 100vh;
        overflow-y: scroll;

        .fuction-list,
        .form-search,
        .main-nav,
        .modal-menu {
            visibility: visible;
            display: flex;
            transform: translateY(0);
        }

        .main-logo,
        .top-main-list {
            opacity: 0;
        }
    }

    @include desktop {
        width: 100%;
        height: 136px;
        background-color: #F6F6F6;

        .modal-menu {
            margin-top: 108px;
            transform: translateY(0);
            transition: unset;
        }

        .fuction-list,
        .form-search,
        .main-nav {
            visibility: visible;
            transform: translateY(0);
        }

        &.is-open {
            height: 615px;

            .main-logo,
            .top-main-list {
                opacity: 100;
            }
        }

        .modal-menu {
            overflow: hidden;
        }

    }
}



.top-nav {
    display: flex;
    position: fixed;
    top: 0;
    min-height: 82px;
    width: 100vw;
    z-index: 10;
    margin-left: -$large-gutter;
    margin-right: -$large-gutter;
    background-color: $light-gray;

    .main-logo {
        width: 56px;
        height: 56px;
        display: inline-block;
        margin-top: 10px;
        margin-left: $main-gutter;
    }

    .top-main-list {
        margin-left: 24px;
        margin-top: $main-gutter;

        li {
            margin-right: 24px;

            a {
                display: inline-block;
            }
        }
    }

    @include desktop {
        width: auto;
        margin: 0;
        position: absolute;
        background-color: transparent;
        top: 40px;

        .main-logo {
            margin-right: 60px;
            margin-top: 0;
        }

        .toggle-menu {
            position: absolute;
            top: 24px;
            left: 150px;
            margin: 0;
            z-index: 10;
        }

        .top-main-list {
            margin-top: 0;
        }
    }
}

.notice-btn {
    width: 36px;
    height: 36px;
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.toggle-menu {
    width: 36px;
    height: 36px;
    display: inline-block;
    position: relative;
    margin-left: 16px;
    margin-top: 14px;
    margin-right: $main-gutter;
    // top: $main-gutter;
    z-index: 1000;
    padding: 0;
    border: 0;
    background-color: transparent;

    i {
        position: absolute;
        display: block;
        width: $main-gutter;
        height: 2px;
        background-color: $main-text;
        left: 8px;
        transition: all 0.3s;
        border-radius: $main-gutter;

        &:nth-child(1) {
            top: 10px;
        }

        &:nth-child(2) {
            top: 18px;
        }

        &:nth-child(3) {
            top: 26px;
        }
    }

    &.is-active {
        i {
            &:nth-child(1) {
                top: 18px;
                transform: rotateZ(45deg);
            }

            &:nth-child(2) {
                background: transparent;
            }

            &:nth-child(3) {
                top: 18px;
                transform: rotateZ(-45deg);
            }
        }
    }
}

.modal-menu {
    // margin-top: 82px;
    // height: calc(100vh - 82px);
    // overflow-y: auto;
    // background-color: yellow;

}

.fuction-list {
    align-items: center;
    margin-bottom: 24px;

    li {
        // line-height: $main-gutter;

        &:nth-child(1) {
            position: relative;
            padding-right: 18px;

            &:after {
                content: "";
                position: absolute;
                width: 1px;
                height: 10px;
                background-color: rgba(0, 0, 0, 0.16);
                right: 0;
                top: 5px;

            }
        }

        &:nth-child(2) {
            margin-right: auto;
            padding-left: 18px;
            padding-right: 18px;
        }

        &:last-child {
            width: 24px;

            a {
                height: 24px;
            }
        }

        a {
            display: block;
            line-height: $main-gutter;
            color: rgba(0, 0, 0, 0.4);

            &.is-active {
                color: $main-text !important;
            }
        }
    }

    @include desktop {
        margin-top: 0;
        // margin-left: auto;
        order: 3;
        margin-bottom: 0;

        li {
            &:last-child {
                order: 1;
                margin-right: 40px;
            }

            &:nth-child(2) {
                order: 3;
            }

            &:nth-child(1) {
                order: 2;
            }
        }
    }
}

.form-search {
    input {
        width: calc(100% - 30px);
        display: block;
        margin: 0;
        padding: 15px;
        text-align: center;
        background-color: #e9e9e9;
        border: 0;

        &::placeholder {
            color: rgba(129, 129, 129, 1);
        }
    }
}

.col-half-list {
    flex-wrap: wrap;

    li {
        width: 50%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);

        a {
            display: block;
            text-align: center;
            padding: 24px 0;
        }

        &:last-child,
        &:nth-last-child(2) {
            border-bottom: 0;
        }
    }
}

.main-nav {
    margin-bottom: 48px;

    @include desktop {
        flex-wrap: nowrap;
        margin-bottom: 0;
        position: absolute;
        left: 212px;
        top: 74px;
        z-index: 10;

        li {
            border-bottom: 0;
            margin-right: 24px;

            a {
                padding: 0;
            }
        }
    }
}

.topic-area {
    margin-bottom: 48px;

    .is-title {
        font-family: serif;
        font-size: 1.25rem;
        display: flex;
        margin: 0;

        &:after {
            content: "";
            display: inline-block;
            height: 1px;
            margin-left: 16px;
            background-color: #000;
            margin-top: auto;
            flex-grow: 1;
        }

    }

    .btn-action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 8px;
        padding-bottom: 8px;

        img {
            margin-left: 8px;
        }
    }
}

.desktop-header {
    @include desktop {
        display: flex;
        min-height: 136px;


        .form-search {
            order: 2;
            margin-left: auto;
            margin-right: 100px;
            display: flex;
            align-items: center;
            min-width: 248px;
        }

        .notice-btn {
            position: absolute;
            right: -548px;
            margin-top: 10px;

        }
    }
}

main {
    margin-top: calc(82px + 78px);
    .breadcrumbs-list {
        justify-content: center;
        li:not(:last-child){
            margin-right: 32px;
        }
        a {
            color: $second-gray;
            display: inline-block;
            border-top: 2px solid $second-gray;
            padding-top: 4px;
        }
    }
}

.headline {
    h1 {
        font-size: 1.375rem;
        margin-top: $normal-space;
        margin-bottom: $normal-space;
    }
    .headline-subtitle {
        margin-bottom: $normal-space;
        text-align: center;
        line-height: 21px;
    }

    figure {
        margin-left: -$main-gutter;
        margin-right: -$main-gutter;
        margin-bottom: $large-gutter;
        img {
            width: 100%;
            display: block;
            margin-bottom: $small-space;
        }
        figcaption {
            margin-left: $main-gutter;
            margin-right: $main-gutter;
            font-size: 0.75rem;
            line-height: 16.8px;
            span {
                display: block;
            }
        }
    }
}

.main-content {
    .main-authors-info {
        margin: 0 auto $small-space;
        padding-bottom: 32px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);

        img {
            width: 64px;
            height: 64px;
            margin-right: 76px;
        }
        h4 {
            font-size: 1rem;
            margin-bottom: $xs-space;
        }
        p {
            font-size: 0.75rem;
            line-height: 18px;
        }
    }
    .article-main-body {
        line-height: 30px;
        p {
            margin: 0;
            margin-bottom: $small-space;
        }
        h4 {
            font-size: 1.375rem;
            text-align: center;
            margin-top: 4px;
            margin-bottom: $main-gutter;
        }
    }
    .tag-group {
        margin-bottom: 28px;
        li {
            display: inline-block;
            margin-bottom: $xs-space;
            &:not(:last-child) {
                margin-right: $xs-space;
            }
            a {
                color: $second-gray;
                padding: 0 12px;
                background-color: #fff;
                display: inline-block;
                line-height: 17px;
                font-size: 0.75rem;
            }
        }
    }
}

